Screen {
    height: 100%;
    width: 100%;
    layout: horizontal;
}

QuitScreen {
    align: center middle;
}

#dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 60;
    height: 11;
    border: thick $background 80%;
    background: $surface;
}

#question {
    column-span: 2;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
}

Button {
    width: 100%;
}

Label{
    text-style: bold;
}

DiffSlice{
    width: 100%;
    border: round white;
}

CommonSlice{
    height: 100%;
    width: 100%;
    opacity: 50%;
}

HorizontalScroll{
    layout: vertical;
    align: center top; 
    scrollbar-size-vertical: 1;
    # Making the horizontal scrollbar smaller is apparently quite elaborate 
    # https://github.com/Textualize/textual/issues/6547 
    scrollbar-size-horizontal: 1;
    overflow: auto;
    width: 100%;
}

SideView {
    text-align: left;
    width: 100%;
}

MergeView {
    height: 100%; 
    min_height: 100%; 
    max_height: 100%; 
    width: 100%; 
    min_width: 100%; 
    max_width: 100%; 
    text-align: left;
    overflow: auto;
    scrollbar-visibility: visible;
}

#group{
    layout: vertical;
    width: 50%;
    overflow: hidden;
}
